<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd 
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	http://www.springframework.org/schema/context  
	http://www.springframework.org/schema/context/spring-context.xsd"
	default-autowire="byName" default-lazy-init="true">

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="configLocation" value="classpath:hibernate.cfg.xml">
		</property>
		<property name="packagesToScan">
			<list>
				<value>entity.*</value>
			</list>
		</property>
	</bean>

	<!-- 配置事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- 注解驱动器 -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	<tx:advice id="transactionAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="save*" propagation="REQUIRED" />
			<tx:method name="add*" propagation="REQUIRED" />
			<tx:method name="create*" propagation="REQUIRED" />
			<tx:method name="insert*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="merge*" propagation="REQUIRED" />
			<tx:method name="del*" propagation="REQUIRED" />
			<tx:method name="remove*" propagation="REQUIRED" />
			<tx:method name="put*" propagation="REQUIRED" />
			<tx:method name="use*" propagation="REQUIRED" />
			<!-- hibernate4必须配置为开启事务，否则getCurrentSession()获取不到 -->
			<tx:method name="get*" propagation="REQUIRED" read-only="true" />
			<tx:method name="count*" propagation="REQUIRED" read-only="true" />
			<tx:method name="find*" propagation="REQUIRED" read-only="true" />
			<tx:method name="list*" propagation="REQUIRED" read-only="true" />
			<tx:method name="*" read-only="true" />
		</tx:attributes>
	</tx:advice>

	<!-- 自动扫描包 -->
	<context:annotation-config />
	<context:component-scan base-package="action.*"
		annotation-config="true" />
	<context:component-scan base-package="dao.*"
		annotation-config="true" />
	<context:component-scan base-package="service.*"
		annotation-config="true" />

	<!-- dao注入 -->
	<bean name="baseDao" class="dao.BaseDao"></bean>
	<bean name="userDao" class="dao.UserDao"></bean>
	<bean name="bookDao" class="dao.BookDao"></bean>
	<bean name="bookInfoDao" class="dao.BookInfoDao"></bean>
	<bean name="cartDao" class="dao.CartDao"></bean>
	<bean name="orderDao" class="dao.OrderDao"></bean>
	<bean name="orderDetailDao" class="dao.OrderDetailDao"></bean>
	
	<!-- service注入 -->
	<bean name="baseService" class="service.BaseService">
		<property name="baseDao" ref="baseDao" />
	</bean>
	<bean name="userService" class="service.UserService">
		<property name="userDao" ref="userDao" />
	</bean>
	<bean name="bookService" class="service.BookService">
		<property name="bookDao" ref="bookDao"/>
	</bean>
	<bean name="cartService" class="service.CartService">
		<property name="cartDao" ref="cartDao"/>
	</bean>
	<bean name="bookInfoService" class="service.BookInfoService">
		<property name="bookInfoDao" ref="bookInfoDao"/>
	</bean>
	<bean name="orderService" class="service.OrderService">
		<property name="orderDao" ref="orderDao"/>
	</bean>
	<bean name="orderDetailService" class="service.OrderDetailService">
		<property name="orderDetailDao" ref="orderDetailDao"></property>
	</bean>
	
	<!-- action注入 -->
	<bean name="registerAction" class="action.UserAction">
		<property name="userService" ref="userService" />
	</bean>
	<bean name="loginAction" class="action.UserAction">
		<property name="userService" ref="userService" />
	</bean>
	<bean name="listBooksAction" class="action.BookAction">
		<property name="bookService" ref="bookService"/>
	</bean>
	<bean name="viewBookDetailAction" class="action.BookAction">
		<property name="bookInfoService" ref="bookInfoService"/>
	</bean>
	<bean name="viewCartAction" class="action.CartAction">
		<property name="cartService" ref="cartService"/>
	</bean>
	<bean name="payAllOfCart" class="action.CartAction">
		<property name="orderService" ref="orderService"/>
		<property name="orderDetailService" ref="orderDetailService"/>
	</bean>
	<bean name="payForBooksAction" class="action.OrderAction">
		<property name="userService" ref="userService"/>
		<property name="bookService" ref="bookService"/>
		<property name="orderService" ref="orderService"/>
		<property name="orderDetailService" ref="orderDetailService"/>
	</bean>
	<bean name="uploadAction" class="action.BookAction">
		<property name="bookService" ref="bookService"/>
		<property name="bookInfoService" ref="bookInfoService"/>
	</bean>
	
</beans>